# Flutter build & tool files
.dart_tool/
.buildlog/
build/
.idea/
.vscode/
packages
pubspec.lock

# Firebase credentials
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Secrets & env files
.env
*.key
*.keystore
*.jks

# OS junk
.DS_Store
Thumbs.db

macos/Runner/GoogleService-Info.plist
